/* ================== Globals ======================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

a,
a:hover {
    color: transparent;
}

body,
ul,
ol,
dl {
    margin: 0;
}

p {
    font-size: 0.95rem;
}

/* ================== Repeatables ======================*/
.bg {
    z-index: -1;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.container {
    max-width: 840px;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
}

.header-font {
    font-family: "Roboto", sans-serif;
}

.hover-prop:hover {
    transform: scale(1.1);
}

/* ================== Nav ======================*/

.nav__container {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    z-index: 10;
    transition: all 0.5s;
    /* change navbar background on scroll */
    &.scrolling-active {
        background-color: #61759e;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
    }
}

/* change navbar text color on scroll */
.nav__container.scrolling-active .nav .nav__list {
    &-link {
        color: #404f6c;
        transition: all 0.5s;
    }
}

.nav {
    display: flex;
    &__image-text {
        padding-left: 5px;
    }
    &__list {
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        margin-left: auto;
        gap: 20px;
    }
    &__list-item {
        list-style-type: none;
        font-size: 0.9rem;
        padding-inline: 5px;
        text-transform: uppercase;
        text-decoration: underline;
        font-style: oblique;
        font-weight: 500;
        letter-spacing: 0.08rem;
        transition: all 0.2s;
        &:hover {
            text-decoration: none;
        }
    }
    &__list-link {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

/* ================== Hero ======================*/
.hero {
    overflow: hidden;
    z-index: 1;
    &__bg-image {
        margin: 0 auto;
        z-index: 1;
    }
}

@media (max-width: 620px) {
    .hero__bg-image {
        min-width: 750px;
        margin-left: -110px;
    }
}

@media (max-width: 475px) {
    .hero__bg-image {
        margin-left: -150px;
    }
}

@media (max-width: 400px) {
    .hero__bg-image {
        margin-left: -180px;
    }
}

/* ================== History ======================*/
.history {
    background-image: url("./images/history-bg.png");
    background-position: center;
    background-size: cover;
    margin-top: -7px;
    padding-top: 80px;
    min-height: 1000px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        margin: 0 75px;
    }
}

/* ================== Carousel ======================*/
.carousel {
    width: 250px;
    height: 169px;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    &-indicators [data-bs-target] {
        border: 1px rgba(0, 0, 0, 0.5) solid;
        border-radius: 50%;
        height: 8px;
        width: 10px;
    }
}

/* ================== Climb ======================*/
.climb__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding-inline: 50px;
    &-bg {
        background-color: #61759e;
        padding-block: 25px;
    }
}

.climb__tab {
    &-bg {
        background-color: #404f6c;
    }
    &-container {
        position: relative;
        height: 40px;
    }
    &-button {
        text-transform: uppercase;
        letter-spacing: -0.09rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: #b0b4be;
        background-color: transparent;
        padding: 10px 15px 20px 15px;
        position: relative;
        bottom: 12px;
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        margin: 0;
        &:hover {
            text-decoration: underline;
        }
        &.is-active {
            text-decoration: underline;
        }
        &.is-active,
        &:focus {
            background-color: #b0b4be;
            color: #404f6c;
        }
    }
    &-content {
        display: none;
        &.is-active {
            display: flex;
        }
    }
    &-mountain-2 {
        left: 20px;
    }
}

.climb__table {
    padding-inline: 40px;

    & table {
        background-color: rgba(255, 255, 255, 0.8);
        border-collapse: collapse;
    }
    & thead {
        color: #404f6c;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: -0.05rem;
    }
    & th,
    & td {
        text-align: left;
    }
    & th {
        padding-left: 40px;
        padding-top: 10px;
    }
    & .td-left {
        padding-inline: 40px 25px;
    }
    & .td-right {
        padding-inline: 25px 40px;
    }
    & .td-bottom {
        padding-bottom: 20px;
    }
}

.tab-1 {
    background-image: url("./images/tab-img-1.png");
}

.tab-2 {
    background-image: url("./images/tab-img-2.png");
}

.tab-1,
.tab-2 {
    background-position: center;
    background-size: cover;
    margin-top: -7px;
    padding-top: 120px;
    min-height: 550px;
    max-width: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
}

/* ================== Footer ======================*/
.footer {
    background-color: #182443;
    & .footer__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #253662;
        font-style: oblique;
        text-transform: uppercase;
        & span {
            font-weight: 700;
            font-size: 0.85rem;
        }
    }
}

/* ================== Media Queries ======================*/
@media (max-width: 35em) {
    .history__text {
        margin: 0;
    }
}

@media (max-width: 30em) {
    .nav {
        &__image-text {
            display: none;
        }
        &__list {
            gap: 5px;
        }
    }

    .history__text {
        font-size: 0.85rem;
    }
    .climb {
        &__header {
            flex-direction: column;
            gap: 5px;
        }
        &__tab {
            &-button {
                bottom: 9px;
            }
            &-button {
                font-size: 0.9rem;
            }
        }
    }

    .climb__table {
        & th,
        & td {
            text-align: left;
        }
        & td {
            font-size: 0.8rem;
        }
        & th {
            padding-left: 10px;
        }
        & .td-left {
            padding-inline: 10px 5px;
        }
        & .td-right {
            padding-inline: 5px 10px;
        }
        & .td-bottom {
            padding-bottom: 20px;
        }
    }

    .footer__div {
        flex-direction: column;
        gap: 20px;
    }
}
